[Unit]
Description=Job that runs the flame daemon

[Service]
Type=exec
#ExecStartPre=/snap/bin/go get -u github.com/dashotv/flame
ExecStart=/home/shawn/go/bin/flame --config /home/shawn/.flame.yaml server

[Install]
WantedBy=multi-user.target
